@use '../../../base/variables' as *;
@use '../../../base/mixin';

.author-container {
  grid-area: authorSection;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}

.author-container div:first-child {
  @include mixin.grid-column(auto auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 2rem;
  height: 90%;
  width: 705px;
  margin-left: 7rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #938F8A;

  @media #{$lg} {
    width: 100%;
    margin-left: 0;
  }
}

.author-container div:first-child img {
  grid-row: 1 / span 3;
  height: 140px;
}

.author-container div p:nth-child(2) {
  @include mixin.text($size: 1.2rem, $weight: 600, $color: $grey-text);

  @media #{$lg} {
    margin-bottom: 1rem;
  }
}

.author-container div p:nth-child(3) {
  @include mixin.text($size: 0.7rem, $weight: 600, $color: $grey-text);
  margin-bottom: 1rem;

  @media #{$lg} {
    font-size: 1rem;
  }

  @media #{$sm} {
    font-size: 0.95rem;
  }
}

.author-container div p:nth-child(4) {
  @include mixin.text($size: 0.7rem, $color: $secondary-grey-text);
  line-height: 1.1rem;
  width: 75%;

  @media #{$lg} {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media #{$md} {
    grid-column: 1 / span 2;
    grid-row-start: 4;
  }
}
