@use '../../../base/variables' as *;
@use '../../../base/mixin';

.related-content-container {
  grid-area: relatedContentSection;
  position: relative;
  overflow: hidden;
  @include mixin.grid-column($align-items: center);
  gap: 2.5rem;
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;

  @media #{$lg} {
    height: 524px;
  }

  @media #{$md} {
    height: 512px;
  }

  @media #{$sm} {
    height: 464px;
  }
}

.related-content-background {
  width: 100%;
  height: 100%;

  @media #{$lg} {
    display: none;
  }
}

.related-content-background p {
  @include mixin.text('Teko', 21rem, $color: $secondary-white-text);
  -webkit-text-stroke: 1px $secondary-black;
  line-height: 15rem;
  opacity: .1;
}

.related-content-background p:first-child {
  transform: translateX(-6.5rem);
}

.related-content-background p:nth-child(2) {
  transform: translateX(20rem);
  overflow: hidden;
}

.related-content-upper {
  @include mixin.absolute-container(6rem, $left: 0, $width: 100%, $height: max-content);
  @include mixin.grid-column(repeat(2, 1fr), $align-items: flex-start);

  @media #{$lg} {
    top: 1rem;
  }
}

.related-content-title {
  @include mixin.scaled-text('Teko', 4rem, 900, $scale: (0.7, 1), $margin-left: -18%);

  @media #{$lg} {
    grid-column: 1 / span 2;
  }

  @media #{$sm} {
    font-size: 3rem;
  }
}

.related-content-tabs {
  grid-column: 1;
  grid-row: 2;
}

.related-content-tabs button {
  cursor: pointer;
  width: 2rem;
  height: 0.3rem;
  background: $secondary-white-bg;
  border: 0.5px solid $grey;
}

.related-content-tabs button:hover {
  background: $red-bg;
}

.defy-the-limits {
  place-self: flex-end;
  @include mixin.text('Teko', 0.8rem, 600, $tertiary-grey-text);
  transform: rotate(90deg);

  @media #{$lg} {
    display: none;
  }
}

.related-content-cards-container {
  @include mixin.absolute-container(18rem, $width: 100%, $height: max-content);
  display: flex;
  gap: 2rem;

  @media #{$lg} {
    top: 11rem;
  }

  @media #{$sm} {
    top: 8rem;
  }
}

#related-content-card {
  width: 300px;
  height: 16.5rem;

  @media #{$lg} {
    width: 250px;
  }
}

#related-content-card img {
  width: 100%;
}
