@use '../../../base/variables' as *;
@use '../../../base/mixin';

.related-content-section {
  grid-area: relatedContentSection;
  position: relative;
  overflow: hidden;
  @include mixin.grid-column($align-items: center);
  gap: 2.5rem;
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;

  @media #{$lg} {
    height: 524px;
  }

  @media #{$md} {
    height: 512px;
  }

  @media #{$sm} {
    height: 464px;
  }

  &__background {
    width: 100%;
    height: 100%;
  
    @media #{$lg} {
      display: none;
    }
  }

  &__background-text {
    @include mixin.text('Teko', 21rem, $color: var(--secondary-white), $text-transform: uppercase);
    -webkit-text-stroke: 1px var(--secondary-black);
    line-height: 15rem;
    opacity: 0.1;

    &--first{
      transform: translateX(-6.5rem);
    }

    &--second {
      transform: translateX(20rem);
      overflow: hidden;
    }
  }

  &__title-container {
    @include mixin.absolute-container(6rem, $left: 0, $width: 100%, $height: max-content);
    @include mixin.grid-column(repeat(2, 1fr), $align-items: flex-start);
  
    @media #{$lg} {
      top: 1rem;
    }
  }

  &__title {
    @include mixin.scaled-text('Teko', 4rem, 900, $scale: (0.7, 1), $margin-left: -18%, $text-transform: uppercase);

    @media #{$lg} {
      grid-column: 1 / span 2;
    }
  
    @media #{$sm} {
      font-size: 3rem;
    }
  }

  &__tabs {
    grid-column: 1;
    grid-row: 2;
  }

  &__tab-button {
    cursor: pointer;
    width: 2rem;
    height: 0.3rem;
    background: var(--secondary-white);
    border: 0.5px solid var(--grey);
    
    &:hover {
      background: var(--red);
    }
  }

  &__side-text-container {
    place-self: flex-end;
    transform: rotate(90deg);
  
    @media #{$lg} {
      display: none;
    }
  }

  &__side-text {
    @include mixin.text('Teko', 1rem, 600, var(--tertiary-grey), $text-transform: uppercase);
    letter-spacing: 1px;
  }

  &__cards-container{
    @include mixin.absolute-container(18rem, $width: auto, $height: max-content);
    display: flex;
    gap: 2rem;
  
    @media #{$lg} {
      top: 11rem;
    }
  
    @media #{$sm} {
      top: 8rem;
    }
  }
}
