@use '../../../base/variables' as *;
@use '../../../base/mixin';

.tags-section {
  grid-area: tagsSection;
  @include mixin.flex-column($align-items: center);
  gap: 2.5rem;
  width: 100%;
  padding-top: 4rem;

  @media #{$lg} {
    padding-bottom: 4rem;
    border-bottom: 1px solid #938F8A;
    overflow: hidden;
  }

  @media #{$md} {
    gap: 1rem;
  }

  &__title {
    @include mixin.text($size: 1.2rem, $weight: 600, $text-transform: uppercase);

    &--default {
      margin-right: 1rem;

      @media #{$md} {
        display: none;
      }
    }

    &--secondary {
      display: none;

      @media #{$md} {
        display: block;
        align-self: flex-start;
      }
    }
  }

  &__tags-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 7rem;
    width: 705px;
  
    @media #{$lg} {
      flex-wrap: wrap;
      width: 100%;
      margin-left: 0;
    }
  
    @media #{$md} {
      gap: 1rem;
    }
  }

  &__tag {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    @include mixin.text($size: 0.8rem, $weight: 600, $color: var(--white), $text-transform: uppercase);
    background: var(--grey);
    width: 7.5rem;
    padding: 0.8rem;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
  
    @media #{$md} {
      margin: 0;
    }

    &:hover {
      background: var(--article-grey-bg-color);
    }

    &::after {
      content: "";
      @include mixin.absolute-container($right: 0, $bottom: 0, $width: 4px, $height: 4px);
      background: var(--red);
    }

    &:hover::after {
      background: var(--grey);
    }
  }

  &__article-list-link-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-left: 7rem;
    width: 705px;
    gap: 1rem;
  
    @media #{$lg} {
      width: 100%;
      margin-left: 0;
    }
  }

  &__article-list-link {
    @include mixin.text('Teko', $color: var(--red));
  }

  &__article-list-image {
    transform: rotate(180deg);
  }
}
