@use '../../../base/variables' as *;
@use '../../../base/mixin';

.title-section {
  grid-area: titleSection;
  justify-self: flex-start;
  padding: 5.5% 8.5%;
  width: 100%;
  height: max-content;

  @media #{$lg} {
    padding-top: 4.5%;
    padding-bottom: 0;
    padding-inline: 0;
  }

  &__upper {
    @include mixin.grid-column(repeat(2, 1fr));

    @media #{$md} {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.4rem;
    }
  }

  &__upper-content {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    white-space: nowrap;
  
    @media #{$lg} {
      font-size: 1rem;
    }

    &--category {
      grid-column-start: 2;
      justify-self: flex-end;
      
      @media #{$md} {
        grid-column-start: 1;
        justify-self: flex-start;
      }
    }
  }

  &__label {
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: end;
    color: var(--red);
    width: auto;

    &::before {
      content: "";
      margin-right: 1rem;
      margin-bottom: 4px;
      width: 4px;
      height: 4px;
      background: black;
    }

    &:hover::after {
      content: "";
      position: absolute;
      bottom: -4px;
      right: 0;
      width: calc(100% - 1.3rem);
      height: 1px;
      background: red;
    }
  }

  &__title {
    @include mixin.scaled-text('Teko', 5.5rem, 900, var(--black), (1, 1.5), $text-transform: uppercase);
    letter-spacing: -2px;
    line-height: 4.4rem;
    margin-top: 5.5rem;
    width: 86%;
  
    @media #{$lg} {
      font-size: 4.5rem;
      line-height: 3.4rem;
      width: 70%;
    }
  
    @media #{$md} {
      font-size: 2.5rem;
      line-height: 2rem;
      margin-top: 3rem;
    }
  }
}
