@use '../../../base/variables' as *;
@use '../../../base/mixin';

.title-container {
  grid-area: titleSection;
  justify-self: flex-start;
  padding: 5.5% 8.5%;
  width: 100%;
  height: max-content;

  @media #{$lg} {
    padding-top: 4.5%;
    padding-bottom: 0;
    padding-inline: 0;
  }
}

.title-upper-content-container {
  @include mixin.grid-column(repeat(2, 1fr));

  @media #{$md} {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }
}

.title-upper-content-container div:nth-child(2) {
  grid-column-start: 2;
  justify-self: flex-end;
  
  @media #{$md} {
    grid-column-start: 1;
    justify-self: flex-start;
  }
}

.upper-content {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  white-space: nowrap;

  @media #{$lg} {
    font-size: 1rem;
  }
}

.upper-content p {
  letter-spacing: 1px;
}

.upper-content a {
  position: relative;
  display: flex;
  align-items: end;
  color: $red-text;
  width: auto;
}

.upper-content a::before {
  content: "";
  margin-right: 1rem;
  margin-bottom: 4px;
  width: 4px;
  height: 4px;
  background: black;
}

#category-upper-content a:hover::after {
  width: calc(100% - 1rem);
}

.upper-content a:hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 7.1rem;
  height: 1px;
  background: red;
}

.title {
  @include mixin.scaled-text('Teko', 5.5rem, 900, $black-text, (1, 1.5));
  letter-spacing: -2px;
  line-height: 4.4rem;
  margin-top: 5.5rem;
  width: 86%;

  @media #{$lg} {
    font-size: 4.5rem;
    line-height: 3.4rem;
    width: 70%;
  }

  @media #{$md} {
    font-size: 2.5rem;
    line-height: 2rem;
    margin-top: 3rem;
  }
}
