.latest-news-section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  margin-top: 1.5rem;
  padding-bottom: 10.65rem;
}

.latest-news-bg-text {
  white-space: nowrap;
  line-height: 15rem;
  width: 100%;
}

.latest-news-bg-text p:nth-child(2) {
  transform: translateX(28rem);
  margin-top: 2rem;
}

.latest-news-content {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.red-detail-boxes {
  position: absolute;
  top: 2.2rem;
  left: 50%;
}

.red-detail-boxes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: #FE4755;
}

.red-detail-boxes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  width: 8px;
  height: 8px;
  background: #FE4755;
}

.latest-news-title-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 9.5rem;
}

.latest-news-title-container p {
  font-family: 'Teko';
  font-size: 6rem;
  font-weight: 900;
  color: #ff4655;
  transform: scale(0.9, 1.4);
  margin-left: -2.5rem;
}

.news-page-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #FE4755;
  margin-left: auto;
  margin-right: -6px;
  margin-bottom: 5rem;
  transform: scale(0.95, 0.95);
}

.news-page-link-lower {
  display: none;
}

.news-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  margin-top: 15.19rem;
}

.news-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 24.4rem;
}

.news-card-date-and-category {
  display: flex;
  gap: 0.5rem;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 0.7rem;
  width: 100%;
}

.news-card-date-and-category p {
  color: #0f1923;
  letter-spacing: 1px;
}

.news-card-date-and-category p:nth-child(2) {
  position: relative;
  display: flex;
  align-items: end;
  color: #ff4655;
}

.news-card-date-and-category p:nth-child(2)::before {
  content: "";
  margin-right: 0.5rem;
  margin-bottom: 4px;
  width: 1px;
  height: 1px;
  background: black;
}

.news-card img {
  width: 100%;
}

.news-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #383e3a;
  width: 100%;
}

@media screen and (max-width: 1024px) {

  .latest-news-section {
    padding-bottom: 3.5rem;
  }

  .latest-news-content {
    position: relative;
    margin-top: -33.5rem;
  }

  .latest-news-title-container {
    margin-top: 7.5rem;
  }

  .latest-news-title-container p {
    margin-left: -2.1rem;
    font-size: 5rem;
  }

  .latest-news-title-container a {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  .news-cards-container {
    width: max-content;
    margin-top: 12.3rem;
  }

  .news-card {
    width: 55rem;
  }

  .news-card-date-and-category {
    font-size: 0.8rem;
  }
  
  .news-card-date-and-category p:nth-child(2)::before {
    width: 3px;
    height: 3px;
  }

  .news-page-link {
    display: none;
  }

  .news-page-link-lower {
    display: flex;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-left: -2.5%;
    margin-bottom: 0;
  }

}

@media screen and (max-width: 640px) {

  .latest-news-title-container {
    margin-left: -0.2rem;
  }

  .latest-news-title-container p {
    font-size: 2.5rem;
    margin-left: -0.9rem;
  }

  .latest-news-title-container a {
    margin-bottom: 5rem;
  }

  .news-cards-container {
    margin-top: 10rem;
  }

  .news-card {
    width: 34rem;
  }

}

@media screen and (max-width: 376px) { 

  .latest-news-section {
    padding-bottom: 4rem;
  }

  .latest-news-title-container {
    margin-top: 6rem;
  }

  .latest-news-title-container a {
    margin-bottom: 0;
    margin-left: 0;
  }

  .news-cards-container {
    margin-top: 8.5rem;
  }

  .news-card {
    width: 19rem;
  }

  .news-page-link-lower {
    margin-top: 0;
  }

}
