@use '../../base/variables' as *;
@use '../../base/mixin';
@use '../about/animations';

%about-heading-two {
  @include mixin.text('Roboto', 8rem, 300, var(--white));

  @media #{$lg} {
    font-size: 6rem;
  }

  @media #{$md} {
    font-size: 4rem;
  }

  @media #{$sm} {
    font-size: 3rem;
  }
}

%dotTheory-title {
  @include mixin.absolute-container($bottom: -4rem, $z-index: 30);
  opacity: 0;

  @media #{$lg} {
    bottom: -3rem;
  }

  @media #{$md} {
    bottom: -2rem;
  }

  @media #{$sm} {
    bottom: -1.5rem;
  }
}

main {
  @include mixin.grid-column($justify-items: center, $align-items: center);
}

.about-title {
  text-align: center;
  @include mixin.scaled-text('Teko', 10rem, $scale: (0.7, 1));
  line-height: 0;

  @media #{$lg} {
    font-size: 8rem;
  }

  @media #{$md} {
    font-size: 6rem;
  }
}

.dotTheory-banner {
  position: relative;
  @include mixin.flex-column(center, center);
  width: 100%;
  transition: 0.5s ease-in;

  &__rectangle {
    @include mixin.absolute-container($height: 16rem, $z-index: 10);
    background: black;
  
    @media #{$lg} {
      height: 14rem;
    }
  
    @media #{$md} {
      height: 10rem;
    }
    
    @media #{$sm} {
      height: 8rem;
    }
  }

  &__circle {
    @include mixin.absolute-container($z-index: 20);
    background: black;
    border-radius: 50%;
  }

  &__first-dot-text {
    @extend %dotTheory-title;
    @extend %about-heading-two;
  }
  
  &__second-dot-text {
    @extend %dotTheory-title;
    @extend %about-heading-two;
  }
  
  &__theory-text {
    @extend %dotTheory-title;
    @extend %about-heading-two;
  }
  
  &__subtext  {
    @include mixin.absolute-container($z-index: 30);
    @include mixin.text($size: 1.3rem, $color: var(--white));
  
    @media #{$lg} {
      bottom: 0.5rem;
    }
  
    @media #{$md} {
      bottom: 2rem;
      font-size: 0.9rem;
    }
  
    @media #{$sm} {
      bottom: 2.7rem;
      font-size: 0.9rem;
    }
  }
}

.dotTheory-content {
  position: relative;
  width: 50%;
  @include mixin.grid-column($justify-items: center, $justify-content: center);
  gap: 2rem;
  opacity: 0;

  @media #{$lg} {
    width: 60%;
  }

  @media #{$md} {
    width: 70%;
  }

  &__paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
  
    @media #{$lg} {
      font-size: 1.4rem;
    }
  
    @media #{$md} {
      font-size: 0.9rem;
    }
  }
}

%frontEnd-subtext {
  @include mixin.absolute-container($bottom: -6.5rem, $z-index: 30);
  @include mixin.text($size: 2rem, $color: var(--white));

  @media #{$lg} {
    bottom: -5rem;
  }

  @media #{$md} {
    bottom: -4rem;
    font-size: 1.5rem;
  }
}

.frontEnd-banner {
  position: relative;
  @include mixin.flex-column(center, center);
  width: 100%;
  height: max-content;
  transition: 0.5s ease-in;

  &__rectangle {
    @include mixin.absolute-container($height: 16rem, $z-index: 10);
    background: black;
    width: 100%;
  
    @media #{$lg} {
      height: 14rem;
    }
  
    @media #{$md} {
      height: 10rem;
    }
    
    @media #{$sm} {
      height: 8rem;
    }
  }
  
  &__title {
    @extend %dotTheory-title;
    @extend %about-heading-two;
  }
  
  &__training-subtext {
    @extend %frontEnd-subtext;
  }
  
  &__track-subtext {
    @extend %frontEnd-subtext;
  }
}

@mixin svgSize($width: 4rem, $height: 4rem) {
  width: $width;
  height: $height;

  @media #{$lg} {
    width: calc($width - 1rem);
    height: calc($height - 1rem);
  }
}

.frontEnd-content {
  position: relative;
  @include mixin.grid-column(auto, center, center);
  opacity: 1;
  height: 60rem;
  margin-top: 2rem;

  &__tablet-svg {
    @include mixin.absolute-container(-5rem, $width: 60rem, $height: 60rem, $z-index: 10);
  
    @media #{$about-breakpoint} {
      width: 48rem;
      height: 48rem;
    }
  
    @media #{$lg} {
      width: 32rem;
      height: 32rem;
    }
  
    @media #{$sm} {
      width: 22rem;
      height: 22rem;
    }

    .video-click-hand, .play-button {
      transform-origin: center;
    }
  }

  &__topic-list {
    @include mixin.absolute-container(6rem, $left: -16rem, $z-index: 30);
    @include mixin.grid-column(auto, start);
    gap: 2rem;
    white-space: nowrap;
  
    @media #{$about-breakpoint} {
      top: 4rem;
    }
  
    @media #{$lg} {
      gap: 1rem;
      top: 0rem;
      left: -11rem;
    }
  }
  
  &__topic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3.5rem;
    width: 100%;
    @include mixin.text($size: 1.3rem);
    opacity: 0;
  }
  
  &__topic-title {
    top: 2rem;
  
    @media #{$lg} {
      font-size: 0.9rem;
    }
  }

  &__first-topic-svg {
    @include svgSize();
  }

  &__second-topic-svg {
    position: relative;
    left: 0.5rem;
    @include svgSize();

    .grid-svg, .flex-svg {
      @include mixin.absolute-container($z-index: 30);
      @include svgSize(3rem, 3rem);
    }
  }

  &__third-topic-svg {
    @include svgSize();
  }

  &__fourth-topic-svg {
    position: relative;
    overflow: hidden;
    @include svgSize();

    .orbit-svg {
      @include mixin.absolute-container(0.5rem, $left: 0.5rem);
      @include svgSize(3rem, 3rem);
      transform-origin: center;
    }
    
    .orbit-earth, .orbit-moon, .orbit-sun {
      transform-origin: center;
    }
    
    .orbit-sun circle {
      fill: #FFFE9F;
    }
    
    .flower-svg {
      @include mixin.absolute-container(0.5rem, $left: 0.5rem);
      @include svgSize(3rem, 3rem);
      transform-origin: center;
      transform: scale(0);
    }
  }
}
