@use './variables' as *;

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

body {
  background: $secondary-white-bg;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

input[type=checkbox] {
  display: none;
}
