@use './variables' as *;

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

body {
  background: var(--secondary-white);
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

input[type=checkbox] {
  display: none;
}

label {
  cursor: pointer;
}
