@use './variables';

/// Defines the styling of the main tag on the Detail Pages and Home page.
/// @param {behavior} $overflow - element's overflow
/// @param {length} $mt - element's top margin
@mixin main($overflow: null, $mt: null) {
  display: grid;
  grid-template-columns: 100vw;
  justify-items: center;
  overflow: $overflow;
  margin-top: $mt;
}

/// Defines the styling of an element with an absolute position
/// @param {position} $top - element's top edge from its parent.
/// @param {position} $right - element's right edge from its parent.
/// @param {position} $bottom - element's bottom edge from its parent.
/// @param {position} $left - element's left edge from its parent.
/// @param {length} $width - element's width.
/// @param {length} $height - element's height.
/// @param {order} $z-index - element's stacking order.
@mixin absolute-container($top: null, $right: null, $bottom: null, $left: null, $width: null, $height: null, $z-index: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
  z-index: $z-index;
}

/// Defines the styling of a text
/// @param {string} $family - text's font family.
/// @param {length} $size - text's font size.
/// @param {number} $weight - text's font weight.
/// @param {hex-code} $color - text's color.
@mixin text($family: null, $size: null, $weight: null, $color: null, $text-transform: null) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-transform: $text-transform;
}

/// Defines the styling of a scaled text
/// @param {string} $family - text's font family.
/// @param {length} $size - text's font size.
/// @param {number} $weight - text's font weight.
/// @param {hex-code} $color - text's color.
/// @param {values} $scale - text's X and Y scale.
/// @param {length} $margin-left - text's left margin.
@mixin scaled-text($family: null, $size: null, $weight: null, $color: null, $scale, $margin-left: null, $text-transform: null) {
  @include text($family, $size, $weight, $color);
  transform: scale($scale);
  margin-left: $margin-left;
  text-transform: $text-transform;
}

/// Defines the styling of a container with a column flex layout.
/// @param {alignment} $justify-content - flex items' alignment on the main axis
/// @param {alignment} $align-items - flex items' alignment on the cross axis
@mixin flex-column($justify-content: null, $align-items: null) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

/// Defines the grid layout used in most containers from the different pages.
/// @param {template} $columns-template - number and size of columns
/// @param {alignment} $justify-items - alignment on the row axis
/// @param {alignment} $align-items - alignment on the column axis
/// @param {alignment} $justify-content - alignment of the grid
@mixin grid-column($columns-template: auto, $justify-items: null, $align-items: null, $justify-content: null) {
  display: grid;
  grid-template-columns: $columns-template;
  justify-items: $justify-items;
  align-items: $align-items;
  justify-content: $justify-content;
}

/// Defines the transition of article card's animation
@mixin card-transition() {
  transition: 0.5s ease-in-out;
}

/// Animation for the arrows on the home page and article pages
@mixin arrow-sway() {
  animation-name: sway;
  animation-delay: 0.1s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/// Keyframes for the arrow-sway animation
@mixin arrow-sway-keyframes($rotate: null) {
  @keyframes sway {
    0% {
      transform: translateX(0) $rotate;
    }
  
    50% {
      transform: translateX(0.5rem) $rotate;
    }
  
    100% {
      transform: translateX(0) $rotate;
    }
  }
}
