:root {
  --red: #ff4655;
  --white: #ece8e1;
  --secondary-white: #ede9e1;
  --tertiary-white: #dbd9d2;
  --black: #0f1923;
  --secondary-black: #292929;
  --grey: #383e3a;
  --secondary-grey: #768079;
  --tertiary-grey: #bdbcb7;
  --article-grey-bg-color: #8a968f;
  --nav-footer-bg-color: #101110;
  --play-now-button-bg: linear-gradient(90deg, rgba(255,55,55,1) 0%, rgba(255,120,96,1) 100%);
  --burger-bg: #1E1F1E;
  --dropdown-link-color: #c7c7c7;
  --article-grey-border-color: #938f8a;
  --dropdown-link-hover-bg: #444545;
  --burger-dropdown-link-hover-bg: #333232;
  --footer-download-links-hover-bg: #444444;
  --dropdown-link-hover-color: #f9f9f9;
  --card-hover-black-color: 8px 8px 4px var(--black);
  --card-hover-red-color: 8px 8px 4px var(--red);
  --default-width: 80.9%;
}

// Default width for content containers
$default-width: 80.9%;

// Media query breakpoints
$about-breakpoint: 'screen and (max-width: 1600px)';
$xl: 'screen and (max-width: 1506px)';
$lg: 'screen and (max-width: 1024px)';
$md: 'screen and (max-width: 640px)';
$sm: 'screen and (max-width: 376px)';
