main {
  display: grid;
  grid-template-columns: 100vw;
  justify-items: center;
  overflow: hidden;
}

.main-section {
  width: 80.9%;
  border-left: 1px solid rgba(9, 9, 9, 0.4);
}
@media screen and (max-width: 1024px) {
  .main-section {
    width: 90%;
  }
}

.shared-button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
  height: 4.25rem;
}

.shared-button-wrapper span:nth-child(3), .shared-button-wrapper span:first-child {
  border: 1px solid rgba(236, 232, 225, 0.5);
  width: 100%;
  height: 1.85rem;
}

.shared-button-wrapper span:first-child {
  border-bottom: none;
}

.shared-button-wrapper span:nth-child(3) {
  border-top: none;
}

.shared-button {
  cursor: pointer;
  position: absolute;
  top: 0.55rem;
  left: 0.4rem;
  width: 17.15rem;
  height: 3.3rem;
  z-index: 40;
  font-family: "Roboto";
  font-weight: 600;
  color: #ece8e1;
  align-self: center;
  background: #ff4655;
}

.shared-button::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 16.99rem;
  height: 2.5px;
  z-index: 50;
  background: #ff4655;
}

.shared-button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  z-index: 50;
  background: #0f1923;
}

.hero-section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-bottom: 3.14rem solid #ece8e1;
  border-right: 50px solid transparent;
}
@media screen and (max-width: 1024px) {
  .hero-section::after {
    border-bottom: 5vw solid #ece8e1;
    border-right: 5vw solid transparent;
  }
}

.hero-section video {
  width: 100%;
  height: 44.9rem;
  object-fit: cover;
  border-bottom: 6.7rem solid black;
}
@media screen and (max-width: 1024px) {
  .hero-section video {
    height: 30.6rem;
    border-bottom: 10vw solid black;
  }
}

.hero-section-content {
  align-self: center;
  position: absolute;
  width: 80.9%;
  height: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  border-left: 1px solid rgba(236, 232, 225, 0.5);
  border-right: 1px solid rgba(236, 232, 225, 0.5);
  color: #ece8e1;
}
@media screen and (max-width: 1024px) {
  .hero-section-content {
    width: 90%;
  }
}

.hero-section-content::before {
  content: "";
  position: absolute;
  top: 9.4rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 40;
  background: #ff4655;
}
@media screen and (max-width: 1024px) {
  .hero-section-content::before {
    display: none;
  }
}

.hero-section-content::after {
  content: "";
  position: absolute;
  top: 9.4rem;
  left: 1rem;
  z-index: 40;
  border-left: 0.45rem solid #ff4655;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.45rem solid transparent;
}
@media screen and (max-width: 1024px) {
  .hero-section-content::after {
    display: none;
  }
}

.inner-white-line {
  position: absolute;
  left: 19.65rem;
  width: 1px;
  height: 100%;
  z-index: 20;
  background: rgba(236, 232, 225, 0.5);
}
@media screen and (max-width: 1024px) {
  .inner-white-line {
    display: none;
  }
}

.hero-title-container {
  position: absolute;
  z-index: 40;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  margin-bottom: -1.1rem;
  gap: 2.4rem;
}
@media screen and (max-width: 1024px) {
  .hero-title-container {
    gap: 1rem;
  }
}

.hero-title-container p {
  font-size: 0.9rem;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .hero-title-container p {
    font-size: 1.1rem;
    margin-bottom: 12rem;
    order: 2;
  }
}

.hero-title-container img {
  width: 43rem;
}
@media screen and (max-width: 1024px) {
  .hero-title-container img {
    width: 20rem;
    order: 1;
  }
}

.hero-button-wrapper {
  width: 16.15rem;
  height: 4.3rem;
  margin-top: 1.2rem;
}
@media screen and (max-width: 1024px) {
  .hero-button-wrapper {
    width: 18.15rem;
    height: 5rem;
    order: 3;
  }
}

.hero-button {
  align-self: center;
  left: 0.45rem;
  width: 15.3rem;
}
@media screen and (max-width: 1024px) {
  .hero-button {
    align-self: center;
    left: 0.45rem;
    font-size: 1.1rem;
    width: 17.3rem;
    height: 3.9rem;
  }
}

.hero-button::before {
  width: 15.2rem;
}
@media screen and (max-width: 1024px) {
  .hero-button::before {
    width: 17.2rem;
  }
}

.latest-news-section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  margin-top: 1.5rem;
  padding-bottom: 10.65rem;
}
@media screen and (max-width: 1024px) {
  .latest-news-section {
    padding-bottom: 3.5rem;
  }
}
@media screen and (max-width: 376px) {
  .latest-news-section {
    padding-bottom: 4rem;
  }
}

.latest-news-bg-text {
  white-space: nowrap;
  line-height: 15rem;
  width: 100%;
}

.latest-news-bg-text p {
  font-family: "Teko";
  font-size: 21rem;
  color: transparent;
  transform: scale(1.2, 1);
  opacity: 0.1;
  -webkit-text-stroke: 1px #292929;
}

.latest-news-bg-text p:nth-child(2) {
  transform: translateX(28rem);
  margin-top: 2rem;
}

.latest-news-content {
  position: absolute;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .latest-news-content {
    position: relative;
    margin-top: -33.5rem;
  }
}

.red-detail-boxes {
  position: absolute;
  top: 2.2rem;
  left: 50%;
}

.red-detail-boxes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: #ff4655;
}

.red-detail-boxes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  width: 8px;
  height: 8px;
  background: #ff4655;
}

.latest-news-title-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 9.5rem;
}
@media screen and (max-width: 1024px) {
  .latest-news-title-container {
    margin-top: 7.5rem;
  }
}
@media screen and (max-width: 640px) {
  .latest-news-title-container {
    margin-left: -0.2rem;
  }
}
@media screen and (max-width: 376px) {
  .latest-news-title-container {
    margin-top: 6rem;
  }
}

.latest-news-title-container p {
  font-family: "Teko";
  font-size: 6rem;
  font-weight: 900;
  color: #ff4655;
  transform: scale(0.9, 1.4);
  margin-left: -2.5rem;
}
@media screen and (max-width: 1024px) {
  .latest-news-title-container p {
    font-size: 5rem;
    margin-left: -2.1rem;
  }
}
@media screen and (max-width: 640px) {
  .latest-news-title-container p {
    font-size: 2.5rem;
    margin-left: -0.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .latest-news-title-container a {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .latest-news-title-container a {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 376px) {
  .latest-news-title-container a {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.news-page-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ff4655;
  transform: scale(0.95, 0.95);
  margin-left: auto;
  margin-right: -6px;
  margin-bottom: 5rem;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .news-page-link {
    display: none;
  }
}

.news-page-link-lower {
  display: none;
}
@media screen and (max-width: 1024px) {
  .news-page-link-lower {
    display: flex;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-left: -2.5%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 376px) {
  .news-page-link-lower {
    margin-top: 0;
  }
}

.news-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  margin-top: 15.19rem;
}
@media screen and (max-width: 1024px) {
  .news-cards-container {
    width: max-content;
    margin-top: 12.3rem;
  }
}
@media screen and (max-width: 640px) {
  .news-cards-container {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 376px) {
  .news-cards-container {
    margin-top: 8.5rem;
  }
}

.news-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 24.4rem;
}
@media screen and (max-width: 1024px) {
  .news-card {
    width: 55rem;
  }
}
@media screen and (max-width: 640px) {
  .news-card {
    width: 34rem;
  }
}
@media screen and (max-width: 376px) {
  .news-card {
    width: 19rem;
  }
}

.news-card-date-and-category {
  display: flex;
  gap: 0.5rem;
  font-family: "Roboto";
  font-size: 0.7rem;
  font-weight: 600;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .news-card-date-and-category {
    font-size: 0.8rem;
  }
}

.news-card-date-and-category p {
  color: #0f1923;
  letter-spacing: 1px;
}

.news-card-date-and-category p:nth-child(2) {
  position: relative;
  display: flex;
  align-items: end;
  color: #ff4655;
}

.news-card-date-and-category p:nth-child(2)::before {
  content: "";
  margin-right: 0.5rem;
  margin-bottom: 4px;
  width: 1px;
  height: 1px;
  background: black;
}
@media screen and (max-width: 1024px) {
  .news-card-date-and-category p:nth-child(2)::before {
    width: 3px;
    height: 3px;
  }
}

.news-card img {
  width: 100%;
}

.news-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #383e3a;
  width: 100%;
}

.dimension-section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.dimension-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-left: 1px solid rgba(236, 232, 225, 0.5);
}

.dimension-section img {
  position: relative;
  display: flex;
  justify-content: center;
  object-fit: none;
  object-position: 50% 0;
  height: 53.15rem;
}

.dimension-content-container {
  position: absolute;
  top: 25rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-items: flex-start;
  gap: 2.6rem;
  margin-left: 4rem;
  color: #ece8e1;
}
@media screen and (max-width: 1024px) {
  .dimension-content-container {
    top: 34rem;
    gap: 0;
    width: 100%;
    margin-left: 0.3rem;
  }
}

.dimension-section div h5 {
  font-size: 1.2rem;
  letter-spacing: 8px;
}
@media screen and (max-width: 1024px) {
  .dimension-section div h5 {
    margin-bottom: 2rem;
    margin-left: -0.2rem;
  }
}

.dimension-section div p {
  font-family: "Teko";
  font-size: 6.8rem;
  transform: scale(1.1, 1.4);
  margin-left: 1rem;
  letter-spacing: -2px;
}
@media screen and (max-width: 1024px) {
  .dimension-section div p {
    font-size: 5rem;
    margin-left: 0.5rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 640px) {
  .dimension-section div p {
    font-size: 3rem;
    margin-left: 0.3rem;
  }
}

#dimension-button {
  margin-top: -1.2rem;
  margin-left: -0.1rem;
}
@media screen and (max-width: 1024px) {
  #dimension-button {
    margin-left: -0.1rem;
  }
}

@media screen and (max-width: 1024px) {
  #dimension-button button {
    font-size: 1.1rem;
  }
}

.dimension-red-boxes {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 1230px;
}

.dimension-red-boxes::after {
  content: "";
  position: absolute;
  left: 46.15rem;
  width: 6.25rem;
  height: 0.2rem;
  background: #ff4655;
}

.left-red-box {
  width: 0.65rem;
  height: 0.65rem;
  background: #ff4655;
  margin-bottom: 1.25rem;
}

.right-red-box {
  align-self: flex-end;
  width: 0.85rem;
  height: 0.9rem;
  background: #ff4655;
}

.we-are-valorant-section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-items: end;
}

.we-are-valorant-section::before {
  content: "";
  position: absolute;
  top: 18.35rem;
  left: 0;
  width: 0.4rem;
  height: 0.43rem;
  background: #ff4655;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-section::before {
    display: none;
  }
}

.we-are-valorant-section::after {
  content: "";
  position: absolute;
  bottom: 5.85rem;
  left: 0;
  width: 0.6rem;
  height: 0.69rem;
  background: #ff4655;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-section::after {
    display: none;
  }
}

.we-are-valorant-title-container {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin-top: 3.1rem;
  border-top: 1px solid rgba(15, 25, 35, 0.2);
  padding-top: 2.3rem;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-title-container {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .we-are-valorant-title-container {
    justify-content: center;
  }
}

.we-are-valorant-title-container::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  right: 21%;
  width: 0.9rem;
  height: 0.9rem;
  background: #ff4655;
}
@media screen and (max-width: 640px) {
  .we-are-valorant-title-container::after {
    width: 0.4rem;
    height: 0.45rem;
  }
}

.we-are-valorant-title-container h1 {
  font-family: "Teko";
  font-size: 8.8rem;
  color: #0f1923;
  transform: scale(0.9, 1.2);
  margin-left: -2.6rem;
  letter-spacing: -2px;
}
@media screen and (max-width: 1506px) {
  .we-are-valorant-title-container h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-title-container h1 {
    font-size: 4rem;
    margin-left: -1.4rem;
  }
}
@media screen and (max-width: 640px) {
  .we-are-valorant-title-container h1 {
    font-size: 3rem;
    margin-left: 0;
  }
}

.protocol-text {
  position: relative;
  font-family: "Teko";
  font-size: 0.6rem;
  font-weight: 600;
  color: #ff4655;
  transform: scale(-1, 1);
  margin-left: -2.6rem;
  margin-top: 2.8rem;
  margin-left: 4rem;
  letter-spacing: 1.6px;
}
@media screen and (max-width: 1506px) {
  .protocol-text {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .protocol-text {
    display: none;
  }
}

.protocol-text p:first-child {
  margin-bottom: 2px;
}

.protocol-text::after {
  content: "";
  position: absolute;
  right: -3.1rem;
  bottom: -0.7rem;
  width: 10rem;
  height: 4px;
  background: #ff4655;
}

.we-are-valorant-content-container {
  place-self: flex-end;
  position: relative;
  width: 100%;
  margin-top: 3rem;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-content-container {
    margin-top: 1rem;
  }
}

.we-are-valorant-content-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-bottom: 13.3rem;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-content-wrapper {
    padding-bottom: 40rem;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .we-are-valorant-content-wrapper {
    padding-bottom: 26rem;
  }
}
@media screen and (max-width: 376px) {
  .we-are-valorant-content-wrapper {
    padding-bottom: 18rem;
  }
}

.we-are-valorant-content-wrapper::before {
  content: "";
  position: absolute;
  top: 16.3rem;
  left: 6.5rem;
  width: 0.45rem;
  height: 0.4rem;
  background: #ff4655;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-content-wrapper::before {
    display: none;
  }
}

.description-container {
  width: 17.6rem;
  font-family: "Roboto";
  margin-left: 13rem;
}
@media screen and (max-width: 1506px) {
  .description-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: flex-start;
    width: 12.4rem;
    margin-left: 8rem;
  }
}
@media screen and (max-width: 1024px) {
  .description-container {
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  .description-container {
    justify-items: center;
  }
}

.description-container::after {
  content: "00.";
  position: absolute;
  bottom: 4.35rem;
  left: 6.45rem;
  width: 3rem;
  font-family: "Teko";
  font-size: 2.8rem;
  color: #dbd9d2;
  transform: scale(1, 1.2);
  border-top: 0.3rem solid;
}
@media screen and (max-width: 1024px) {
  .description-container::after {
    display: none;
  }
}

.description-container h5 {
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
  color: #383e3a;
}

.description-container p {
  font-family: "Roboto";
  font-size: 0.95rem;
  color: #768079;
  line-height: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .description-container p {
    text-align: none;
    width: 79%;
  }
}

#we-are-valorant-button {
  margin-top: 3.2rem;
}
@media screen and (max-width: 1024px) {
  #we-are-valorant-button {
    place-self: center;
  }
}

#we-are-valorant-button span:first-child {
  border: 1px solid #bdbcb7;
  border-bottom: none;
}

#we-are-valorant-button span:nth-child(3) {
  border: 1px solid #bdbcb7;
  border-top: none;
}

.we-are-valorant-video-wrapper {
  position: absolute;
  top: 2.15rem;
  right: -6.5rem;
  width: 705.5px;
  height: 396px;
  margin-left: auto;
}
@media screen and (max-width: 1506px) {
  .we-are-valorant-video-wrapper {
    top: 9rem;
    width: 550px;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-video-wrapper {
    top: 35%;
    right: 0;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 640px) {
  .we-are-valorant-video-wrapper {
    top: 50%;
  }
}
@media screen and (max-width: 376px) {
  .we-are-valorant-video-wrapper {
    top: 28rem;
  }
}

.we-are-valorant-video-wrapper video {
  width: 100%;
}

.we-are-valorant-video-wrapper::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 8px;
  height: 8px;
  background: #ff4655;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-video-wrapper::before {
    display: none;
  }
}

.we-are-valorant-video-wrapper::after {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  width: 8px;
  height: 8px;
  background: #ff4655;
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-video-wrapper::after {
    display: none;
  }
}

.gameplay-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.25rem;
  left: -1.25rem;
  width: 6.55rem;
  height: 1.55rem;
  z-index: 50;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  background: #ff4655;
}

.underline-detail {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 6.6rem;
  height: 0.2rem;
  z-index: 50;
  background: #ff4655;
}
@media screen and (max-width: 1506px) {
  .underline-detail {
    bottom: 0;
  }
}

.we-are-valorant-video-button-wrapper {
  position: absolute;
  top: 10.25rem;
  left: 19.82rem;
  width: 4.35rem;
  height: 4.4rem;
  background: rgba(255, 70, 85, 0.3);
  border: 1px solid white;
}
@media screen and (max-width: 1506px) {
  .we-are-valorant-video-button-wrapper {
    top: 8rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .we-are-valorant-video-button-wrapper {
    top: 14rem;
  }
}
@media screen and (max-width: 640px) {
  .we-are-valorant-video-button-wrapper {
    top: 8rem;
  }
}
@media screen and (max-width: 376px) {
  .we-are-valorant-video-button-wrapper {
    top: 4rem;
  }
}

.we-are-valorant-video-button-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background: white;
}

.we-are-valorant-video-button-wrapper button img {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.24rem;
}

.your-agents-section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  justify-content: center;
}

.your-agents-section::after {
  content: "";
  align-self: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-left: 1px solid rgba(236, 232, 225, 0.6);
}

.your-agents-main-bg-wrapper {
  position: relative;
  width: 100vw;
}

.your-agents-main-bg-wrapper::before {
  content: "";
  position: absolute;
  top: -3.4rem;
  left: 0;
  z-index: 100;
  border-left: 1px solid #FE4755;
  border-right: 9.2rem solid transparent;
  border-bottom: 3.5rem solid #FE4755;
}
@media screen and (max-width: 1024px) {
  .your-agents-main-bg-wrapper::before {
    display: none;
  }
}

.your-agents-main-bg-wrapper::after {
  content: "";
  position: absolute;
  top: -0.35rem;
  right: 0;
  width: 9.05rem;
  height: 0.4rem;
  background: #ff4655;
}
@media screen and (max-width: 1024px) {
  .your-agents-main-bg-wrapper::after {
    display: none;
  }
}

.your-agents-main-bg {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 54.1rem;
}

.your-agents-background-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: max-content;
  margin-top: 5.5rem;
  padding-left: 4.75rem;
  padding-bottom: 10.35rem;
}
@media screen and (max-width: 640px) {
  .your-agents-background-container {
    display: none;
  }
}

.left-bg-sprite {
  background-repeat: no-repeat;
  background-image: url(../../assets/background-sprite-left.png);
  width: 2.33rem;
  height: 33rem;
  z-index: 100;
}

.main-bg-sprite {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 1.25rem;
  margin-left: 2.15rem;
}

.bg-sprite-top {
  display: flex;
  width: 20rem;
  height: 1.8rem;
  background: url(./assets/background-sprite-top.png);
}

.bg-sprite-middle {
  margin-top: -0.45rem;
  width: 1200px;
}

.right-bg-sprite {
  width: 2rem;
  height: 33rem;
  margin-top: 2.49rem;
  margin-left: auto;
  margin-right: 1.75rem;
  overflow: hidden;
}

.right-bg-sprite img {
  margin-left: -7.7rem;
}

#your-agents-content-container {
  position: absolute;
  top: -1px;
  right: 0;
  width: 31rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 6.3rem;
  border-top: 1px solid rgba(236, 232, 225, 0.4);
  padding-top: 5.8rem;
}
@media screen and (max-width: 1506px) {
  #your-agents-content-container {
    width: 29rem;
  }
}
@media screen and (max-width: 1024px) {
  #your-agents-content-container {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  #your-agents-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
}

#your-agents-content-container h1 {
  font-family: "Teko";
  font-size: 8rem;
  color: #ece8e1;
  transform: scale(0.9, 1.2);
  margin-left: -1.5rem;
  line-height: 6rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1506px) {
  #your-agents-content-container h1 {
    font-size: 6rem;
    line-height: 4.5rem;
  }
}
@media screen and (max-width: 1024px) {
  #your-agents-content-container h1 {
    font-size: 4rem;
    margin-left: -1rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  #your-agents-content-container h1 {
    font-size: 3rem;
  }
}

#your-agents-content-container h5 {
  font-family: "Roboto";
  font-size: 1.1rem;
  color: #ece8e1;
  transform: scale(1, 1.1);
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 1024px) {
  #your-agents-content-container h5 {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 376px) {
  #your-agents-content-container h5 {
    font-size: 0.9rem;
  }
}

#your-agents-content-container p {
  font-family: "Roboto";
  font-size: 0.95rem;
  font-weight: 400;
  color: #ece8e1;
  line-height: 1.5rem;
  width: 23.3rem;
}
@media screen and (max-width: 1024px) {
  #your-agents-content-container p {
    width: 70%;
  }
}

#view-all-agents-button-wrapper {
  margin-top: 3rem;
}
@media screen and (max-width: 1024px) {
  #view-all-agents-button-wrapper {
    align-self: center;
  }
}

#view-all-agents-button {
  color: #0f1923;
  background: #ece8e1;
}

#view-all-agents-button::before {
  background: #ece8e1;
}

.your-maps-section {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
}

.your-maps-bg-wrapper {
  position: relative;
  width: 100vw;
  padding-bottom: 50rem;
}

.split-bg {
  position: absolute;
  top: -5rem;
  right: -8.3rem;
  z-index: 50;
}
@media screen and (max-width: 1506px) {
  .split-bg {
    right: -15rem;
  }
}
@media screen and (max-width: 1024px) {
  .split-bg {
    right: -39rem;
  }
}
@media screen and (max-width: 640px) {
  .split-bg {
    right: -56rem;
  }
}
@media screen and (max-width: 376px) {
  .split-bg {
    right: -60rem;
  }
}

.your-maps-bg-outline-text {
  align-self: flex-start;
  position: absolute;
  top: 2.5rem;
  left: -2.9rem;
  font-family: "Teko";
  font-size: 21rem;
  color: transparent;
  transform: scale(1.2, 1);
  opacity: 0.1;
  -webkit-text-stroke: 1px #292929;
  font-size: 22rem;
  letter-spacing: 0.5rem;
}

.birds-bg {
  position: absolute;
  top: 10rem;
  left: 26rem;
  z-index: 40;
}

.your-maps-left-bg-sprite {
  position: absolute;
  top: 4.9rem;
  left: -4.2rem;
  width: 1.85rem;
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .your-maps-left-bg-sprite {
    display: none;
  }
}

.your-maps-left-bg-sprite img {
  margin-top: -6.4rem;
  margin-left: -2.2rem;
}

.your-maps-left-bg-sprite-2 {
  position: absolute;
  top: 36.1rem;
  left: -4.2rem;
  width: 3.5rem;
  height: 6.3rem;
  object-fit: cover;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .your-maps-left-bg-sprite-2 {
    display: none;
  }
}

.your-maps-left-bg-sprite-2 img {
  margin-left: -2.2rem;
}

.your-maps-title-description-wrapper {
  position: absolute;
  width: 80.9%;
}

#your-maps-content-container {
  place-content: flex-start;
  position: absolute;
  top: 8.75rem;
  left: 6.59rem;
  z-index: 60;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid rgba(15, 25, 35, 0.4);
  padding-top: 4.5rem;
}
@media screen and (max-width: 1024px) {
  #your-maps-content-container {
    top: 7rem;
    left: 0;
    width: 124%;
  }
}
@media screen and (max-width: 640px) {
  #your-maps-content-container {
    align-items: center;
  }
}

#your-maps-content-container h1 {
  font-family: "Teko";
  font-size: 8rem;
  color: #0f1923;
  transform: scale(0.9, 1.2);
  margin-left: -1.8rem;
}
@media screen and (max-width: 1506px) {
  #your-maps-content-container h1 {
    font-size: 6rem;
    margin-left: -1rem;
  }
}
@media screen and (max-width: 1024px) {
  #your-maps-content-container h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  #your-maps-content-container h1 {
    font-size: 3rem;
  }
}

#your-maps-content-container h5 {
  font-family: "Roboto";
  font-size: 1.1rem;
  color: #0f1923;
  transform: scale(1, 1.1);
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 1024px) {
  #your-maps-content-container h5 {
    margin-top: 0.9rem;
  }
}

#your-maps-content-container p {
  font-family: "Roboto";
  font-size: 0.95rem;
  font-weight: 400;
  color: #768079;
  line-height: 1.5rem;
  width: 23.3rem;
}
@media screen and (max-width: 1024px) {
  #your-maps-content-container p {
    width: 70%;
  }
}

#view-all-maps-button-wrapper {
  margin-top: 3.7rem;
}
@media screen and (max-width: 1024px) {
  #view-all-maps-button-wrapper {
    align-self: center;
  }
}

#view-all-maps-button-wrapper span:first-child {
  border: 1px solid #bdbcb7;
  border-bottom: none;
}

#view-all-maps-button-wrapper span:nth-child(3) {
  border: 1px solid #bdbcb7;
  border-top: none;
}

/*# sourceMappingURL=home.css.map */
