@use '../../../base/variables' as *;
@use '../../../base/mixin';
@use '../mixin' as category-mixin;

%view {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: flex-end;
  align-self: center;
}

%button {
  background: var(--black);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 4px;
  padding: 6px;
}

@mixin view-items($height) {
  background: var(--secondary-white);
  width: 100%;
  height: $height;
  border-radius: 2px;
}

.grid-view {
  @extend %view;

  &__button {
    @extend %button;
    @include mixin.grid-column(1fr 1fr);
    gap: 0.2rem;
  }

  &__item {
    @include view-items(100%);
  }
}

.list-view {
  @extend %view;

  @include category-mixin.hide-button();

  &__button {
    @extend %button;
    @include mixin.flex-column(space-around);
  }

  &__item {
    @include view-items(0.2rem);
  }
}
