.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7rem;
  width: 705px;
}

.content-container article img {
  width: 100%;
}

.content-container h2 {
  font-size: 1.4rem;
}

.container-sections {
  padding-bottom: 2.5rem;
}

.container-sections h2 {
  font-family: 'Roboto';
  margin-bottom: 1.5rem;
}

.container-sections h3 {
  font-family: 'Roboto';
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.intro-container strong {
  font-weight: 600;
  color: #0F1822;
}

.about-fade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-fade-container h2 {
  align-self: flex-start;
}

.fade-pic {
  width: 100%;
  padding-block: 2.5rem;
}

.fade-pic:hover {
  cursor: pointer;
  background: #FF4655;
}

.fade-prowlers {
  padding-block: 2.5rem;
}

.fade-prowlers:hover {
  cursor: pointer;
  background: #FF4655;
}

.core-gameplay-loop-img {
  font-size: 1rem;
  font-family: 'Arial';
  font-weight: 600;
  color: #FE4755;
  align-self: flex-start;
  text-decoration: underline;
  margin-bottom: 2.5rem;
}

.core-gameplay-loop-img:hover {
  background: #FE4755;
  color: #ECE8E1;
}

.fade-design-container h2 {
  width: 20rem;
}

.fade-design-container s {
  font-weight: 600;
}

.looks {
  text-align: center;
  width: 26rem;
  font-size: 0.6rem;
  font-weight: 600;
}

.indent {
  margin-left: 1rem;
}

.description {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 500;
  color: #768079;
  line-height: 1.6rem;
}

.li-marker::before {
  content: "\B7   /";
  font-weight: 700;
  color: #0f1923;
  margin-right: 0.5rem;
}