@use '../../../base/variables' as *;
@use '../../../base/mixin';

@mixin button-wrapper() {
  position: relative;
  @include mixin.flex-column(space-between);
  width: 18rem;
  height: 4.25rem;
}

@mixin button-span() {
  border: 1px solid rgba(236,232,225,.5);
  width: 100%;
  height: 1.85rem;

  &--top{
    border-bottom: none;
  }

  &--bottom {
    border-top: none;
  }
  
}

@mixin button() {
  cursor: pointer;
  @include mixin.absolute-container(0.55rem, $left: 0.4rem, $width: 17.15rem, $height: 3.3rem, $z-index: 900);
  @include mixin.text('Roboto', $weight: 600, $color: var(--white));
  align-self: center;
  background: var(--red);

  &::before {
    content: "";
    @include mixin.absolute-container(-2px, 0, $width: 16.99rem, $height: 2.5px, $z-index: 50);
    background: var(--red);
  }

  &::after {
    content: "";
    @include mixin.absolute-container($right: 0, $bottom: 0, $width: 4px, $height: 4px, $z-index: 50);
    background: var(--black);
  }
}
