@use '../base/variables' as *;
@use '../base/mixin';

main {
  @include mixin.main(hidden);
}

.main-section {
  width: var(--default-width);
  border-left: 1px solid rgba(9,9,9,.4);

  @media #{$lg} {
    width: 90%;
  }
}
