.content-container-1 {
  grid-area: contentSection;
}

.content-container-1 div {
  display: grid;
  grid-template-columns: auto;
  justify-items: flex-start;
  width: 705px;
  margin-left: 7rem;
}

.content-container-1 div p {
  font-size: 0.95rem;
  font-family: 'Arial';
  line-height: 1.5rem;
  color: #768079;
  align-self: flex-start;
  margin-bottom: 2rem;
}

.content-container-1 div p:first-child {
  font-size: 0.9rem;
  font-family: 'Arial';
  font-weight: bold;
  color: #0f1923;
  align-self: flex-start;
}

.add-desc {
  margin-top: -1.5rem;
}

.content-container-1 div a {
  font-size: 0.9rem;
  font-family: 'Arial';
  color: #FE4755;
  align-self: flex-start;
  text-decoration: underline;
  margin-bottom: 2.5rem;
}

.content-container-1 div a:hover {
  background: #FE4755;
  color: #ECE8E1;
}

.content-container-1 div iframe {
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;
}

.content-container-1 div img {
  width: 100%;
  height: 6rem;
  margin-block: 1.2rem;
}

@media screen and (max-width: 1024px) {

  .content-container-1 div {
    margin-top: 2rem;
    margin-left: 0;
    width: 100%;
  }

  .content-container-1 div p {
    margin-bottom: 1rem;
  }

  .content-container-1 div p:first-child {
    font-size: 1rem;
  }

}

@media screen and (max-width: 376px) {

  .content-container-1 div img {
    height: 42px;
  }

}
