@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Teko:wght@600;700&display=swap");
:root {
  --red: #ff4655;
  --white: #ece8e1;
  --secondary-white: #ede9e1;
  --tertiary-white: #dbd9d2;
  --black: #0f1923;
  --secondary-black: #292929;
  --grey: #383e3a;
  --secondary-grey: #768079;
  --tertiary-grey: #bdbcb7;
  --article-grey-bg-color: #8a968f;
  --nav-footer-bg-color: #101110;
  --play-now-button-bg: linear-gradient(90deg, rgba(255,55,55,1) 0%, rgba(255,120,96,1) 100%);
  --burger-bg: #1E1F1E;
  --dropdown-link-color: #c7c7c7;
  --article-grey-border-color: #938f8a;
  --dropdown-link-hover-bg: #444545;
  --burger-dropdown-link-hover-bg: #333232;
  --footer-download-links-hover-bg: #444444;
  --dropdown-link-hover-color: #f9f9f9;
  --card-hover-black-color: 8px 8px 4px var(--black);
  --card-hover-red-color: 8px 8px 4px var(--red);
  --default-width: 80.9%;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

body {
  background: var(--secondary-white);
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

input[type=checkbox] {
  display: none;
}

label {
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  background: var(--nav-footer-bg-color);
  z-index: 1000;
}
@media screen and (max-width: 1024px) {
  nav {
    padding-inline: 1rem;
    padding-right: 0.5rem;
  }
}

.nav-left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-left__riot-games-logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 2rem;
}
@media screen and (max-width: 1024px) {
  .nav-left__riot-games-logo-container {
    width: 6rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}
.nav-left__riot-games-logo {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(30deg) brightness(113%) contrast(116%);
}
@media screen and (max-width: 1024px) {
  .nav-left__riot-games-logo {
    width: 6rem;
    margin-right: 0.5rem;
  }
}
.nav-left__riot-games-arrow {
  filter: invert(55%) sepia(8%) saturate(48%) hue-rotate(251deg) brightness(89%) contrast(85%);
}
@media screen and (max-width: 1024px) {
  .nav-left__riot-games-arrow {
    width: 0.7rem;
  }
}
.nav-left__riot-games-logo-container:hover .nav-left__riot-games-logo {
  filter: brightness(0) saturate(100%) invert(52%) sepia(58%) saturate(5649%) hue-rotate(328deg) brightness(99%) contrast(104%);
}
.nav-left__valorant-logo-container {
  text-align: center;
  width: 75px;
  height: 26px;
}
.nav-left__valorant-logo:hover {
  filter: brightness(0) saturate(100%) invert(52%) sepia(58%) saturate(5649%) hue-rotate(328deg) brightness(99%) contrast(104%);
}
@media screen and (max-width: 1024px) {
  .nav-left__valorant-logo {
    width: 2.5rem;
  }
}

.nav-left-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: none;
  flex-direction: column;
  justify-content: start;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  padding-inline: 36px;
  background: #F9F8F8;
}
@media screen and (max-width: 1024px) {
  .nav-left-dropdown {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .nav-left-dropdown {
    width: 100%;
  }
}
.nav-left-dropdown__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left-dropdown__logo-container {
  display: flex;
  align-items: center;
  width: max-content;
}
.nav-left-dropdown__inverted-logo {
  filter: invert(0%) sepia(90%) saturate(7499%) hue-rotate(176deg) brightness(61%) contrast(93%);
}
.nav-left-dropdown__inverted-logo:hover {
  filter: invert(11%) sepia(61%) saturate(7152%) hue-rotate(344deg) brightness(107%) contrast(108%);
}
.nav-left-dropdown__logo-arrow {
  margin-left: 2px;
  margin-bottom: 3px;
  transform: rotate(180deg);
  filter: invert(55%) sepia(8%) saturate(48%) hue-rotate(251deg) brightness(89%) contrast(85%);
}
.nav-left-dropdown__close-icon {
  width: 3rem;
  height: 4rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(9%) hue-rotate(181deg) brightness(94%) contrast(103%);
  margin-bottom: 2px;
}
.nav-left-dropdown__lists-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 1024px) {
  .nav-left-dropdown__lists-container {
    flex-direction: column;
  }
}
.nav-left-dropdown__items-container {
  width: 20rem;
}
.nav-left-dropdown__item {
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 8px;
  padding-left: 14px;
  width: 100%;
  margin-bottom: 4px;
}
.nav-left-dropdown__item:hover {
  background: #E6E7E7;
}
.nav-left-dropdown__item--title {
  cursor: auto;
  font-weight: 600;
  letter-spacing: 2px;
  background: #F2F3F2;
}
.nav-left-dropdown__item--title:hover {
  background: #F2F3F2;
}
.nav-left-dropdown__item-link {
  font-weight: 300;
}

#left-nav-dropdown:checked + div {
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 2px;
  overflow: hidden;
  background: var(--nav-footer-bg-color);
}
@media screen and (max-width: 1024px) {
  .nav-link {
    display: none;
  }
}
.nav-link__item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-link__item--no-dropdown {
  cursor: pointer;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
}
.nav-link__item--secondary {
  padding-inline: 1.2rem;
  padding-block: 0.9rem;
  margin-inline: 1rem;
}
.nav-link__item:hover .nav-link__item-title-container {
  border-radius: 5px;
  background: var(--burger-dropdown-link-hover-bg);
}
@media screen and (max-width: 1024px) {
  .nav-link__item:hover .nav-link__item-title-container {
    background: none;
  }
}
.nav-link__item:hover .nav-link__dropdown {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .nav-link__item:hover .nav-link__dropdown {
    display: none;
  }
}
.nav-link__item:hover .nav-link__underline {
  display: block;
}
@media screen and (max-width: 1024px) {
  .nav-link__item:hover {
    background: none;
  }
}
@media screen and (max-width: 1024px) {
  .nav-link__item {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
  }
}
.nav-link__item-title-container {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px;
  padding-inline: 1rem;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .nav-link__item-title-container {
    justify-content: space-between;
    width: 100%;
    padding-inline: 1.2rem;
    padding-block: 0.9rem;
    margin-inline: 1rem;
  }
  .nav-link__item-title-container:hover {
    background: var(--burger-dropdown-link-hover-bg) !important;
  }
}
@media screen and (max-width: 376px) {
  .nav-link__item-title-container {
    gap: 0;
  }
}
.nav-link__item-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.nav-link__item-title--secondary {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--secondary-white);
}
.nav-link__item-image--external-arrow {
  height: 7px;
  width: 7px;
}
@media screen and (max-width: 1024px) {
  .nav-link__item-image--external-arrow {
    width: 0.8rem;
    height: 0.8rem;
  }
}
.nav-link__item-image--external-arrow-big {
  height: auto;
  width: auto;
}
@media screen and (max-width: 1024px) {
  .nav-link__item-image--external-arrow-big {
    width: 0.8rem;
    height: 0.8rem;
  }
}
.nav-link__item-image--dropdown-arrow {
  filter: invert(55%) sepia(8%) saturate(48%) hue-rotate(251deg) brightness(89%) contrast(85%);
}
@media screen and (max-width: 1024px) {
  .nav-link__item-image--dropdown-arrow {
    width: 0.7rem;
  }
}
.nav-link__dropdown {
  display: none;
  flex-direction: column;
  background: var(--secondary-black);
  border-top: 4px solid var(--red);
  border-radius: 2px;
  width: 12.5rem;
  padding: 0.7rem 0.4rem;
}
.nav-link__dropdown:hover {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .nav-link__dropdown {
    position: relative;
    top: 0;
    left: 0;
    border-top: none;
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.nav-link__dropdown-item {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 600;
  color: var(--dropdown-link-color);
  letter-spacing: 1px;
  margin: 0.3rem 0.6rem;
  padding: 0.7rem;
  padding-left: 1.2rem;
}
.nav-link__dropdown-item:hover {
  border-radius: 6px;
  background: var(--dropdown-link-hover-bg);
  color: var(--dropdown-link-hover-color);
}
@media screen and (max-width: 1024px) {
  .nav-link__dropdown-item:hover {
    border-radius: 5px;
    background: var(--burger-dropdown-link-hover-bg);
  }
}
.nav-link__dropdown-item--capitalize {
  text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
  .nav-link__dropdown-item {
    font-size: 0.8rem;
    padding-right: 1.2rem;
    padding-block: 1rem;
    margin-inline: 0;
  }
}
.nav-link__no-dropdown-title {
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.nav-link__no-dropdown-title--secondary {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--secondary-white);
}
.nav-link__underline {
  display: none;
  position: absolute;
  top: 2.4rem;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 200;
  background: var(--red);
  border-radius: 2px;
}
.nav-link__no-dropdown-title-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

#game-info-dropdown {
  position: fixed;
  top: 4rem;
  left: calc(11.6rem + 24px);
}

#support-dropdown {
  position: fixed;
  top: 4rem;
  left: calc(40.2rem + 14px);
}

#our-socials-dropdown {
  position: fixed;
  top: 4rem;
  left: calc(47.9rem + 8px);
}

#browse-dropdown {
  position: fixed;
  top: 4rem;
  left: 73.4rem;
  width: max-content;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .nav-right {
    margin-right: 0.5rem;
  }
}
.nav-right__globe-logo {
  cursor: pointer;
  padding: 8px;
  margin-right: 5px;
}
.nav-right__globe-logo:hover {
  border-radius: 5px;
  background: var(--secondary-black);
}
@media screen and (max-width: 1024px) {
  .nav-right__globe-logo {
    width: 3.1rem;
    padding: 0.8rem;
    margin-right: 0.7rem;
  }
}
.nav-right__play-now-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 1rem;
  padding-block: 1rem;
  padding-inline: 1.05rem;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  background: var(--play-now-button-bg);
}
@media screen and (max-width: 1024px) {
  .nav-right__play-now-button {
    place-content: center;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
.nav-right__play-now-button:hover {
  filter: brightness(1.2);
}
@media screen and (max-width: 1024px) {
  .nav-right__play-now-button {
    display: none;
  }
}
.nav-right__toggle-button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav-right__toggle-button {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .nav-right__toggle-button-icon {
    display: block;
    width: 3rem;
    height: 4rem;
  }
}

.nav-burger-menu-background {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav-burger-menu-background {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 50;
  }
}

@media screen and (max-width: 1024px) {
  .nav-burger-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 485px;
    height: 100vh;
    background: var(--burger-bg);
    overflow-y: auto;
  }
}
@media screen and (max-width: 1024px) and (max-width: 376px) {
  .nav-burger-menu {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .nav-burger-menu__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-burger-menu__top {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1.3rem;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .nav-burger-menu__valorant-logo {
    width: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-burger-menu__toggle-button-icon {
    width: 3rem;
    height: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  #game-info-toggle-dropdown:checked + div {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  #support-toggle-dropdown:checked + div {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  #our-socials-toggle-dropdown:checked + div {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  #browse-toggle-dropdown:checked + div {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .esports {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 16.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .esports img {
    width: 0.9rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-link__play-now-button-container {
    width: 100%;
    padding-inline: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-link__play-now-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 1rem;
    padding-block: 1rem;
    padding-inline: 1.05rem;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
    background: var(--play-now-button-bg);
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .nav-link__play-now-button {
    place-content: center;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 1024px) {
  #burger-menu-dropdown:checked + div {
    display: flex;
  }
}
.article-card {
  cursor: pointer;
  border: 1px solid var(--tertiary-grey);
  background: var(--secondary-white);
  transition: 0.5s ease-in-out;
}
.article-card:hover {
  transform: scale(1.03);
}
.article-card:active {
  transition: none !important;
  border: 1px solid var(--red);
}
.article-card--related-content {
  width: 300px;
  height: 16.5rem;
}
@media screen and (max-width: 1024px) {
  .article-card--related-content {
    width: 250px;
  }
}
@media screen and (max-width: 640px) {
  .article-card--related-content {
    width: 350px;
  }
}
.article-card__image {
  width: 100%;
}
.article-card__details {
  position: relative;
  display: grid;
  grid-template-columns: 2.8rem auto;
  grid-template-rows: 1.3rem 3.4rem;
  padding-top: 1rem;
  width: 100%;
}
.article-card__details::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--red);
}
.article-card__number {
  grid-column: 1;
  grid-row: 1/3;
  place-self: start;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
  margin-right: auto;
  transform: rotate(270deg);
}
.article-card__date {
  font-family: "Teko";
  font-size: 1rem;
  font-weight: 600;
  color: var(--tertiary-grey);
  width: max-content;
}
@media screen and (max-width: 1024px) {
  .article-card__date {
    font-size: 1rem;
  }
}
.article-card__title {
  grid-column: 2/3;
  place-self: start;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey);
  transform: scale(0.9, 1);
  margin-left: -12px;
}
@media screen and (max-width: 1024px) {
  .article-card__title {
    font-size: 1rem;
  }
}

.footer-lower__other-link, .footer-upper__download-link {
  cursor: pointer;
  color: var(--secondary-white);
  padding: 0.5rem 1.1rem;
  border-radius: 4px;
}
.footer-lower__other-link:hover, .footer-upper__download-link:hover {
  background: var(--footer-download-links-hover-bg);
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background: var(--secondary-black);
  font-family: "Teko";
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.5rem;
}
@media screen and (max-width: 640px) {
  .footer-upper {
    flex-direction: column;
    font-size: 0.7rem;
    padding-inline: 0;
  }
}
.footer-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  background: var(--nav-footer-bg-color);
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.footer-lower__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.footer-lower__social-media-item {
  display: flex;
  align-items: center;
  background: var(--secondary-black);
  padding: 8px;
  border-radius: 12px;
  transition: 0.25s ease-in;
}
.footer-lower__social-media-item:hover {
  background: var(--secondary-white);
}
.footer-lower__social-media-item:hover .footer-lower__social-media-icon {
  filter: invert(10%) sepia(0%) saturate(7492%) hue-rotate(144deg) brightness(89%) contrast(121%);
}
.footer-lower__social-media-icon {
  height: 1rem;
  filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(144deg) brightness(89%) contrast(121%);
}
.footer-lower__riot-games-logo {
  height: 2rem;
  margin-top: 1rem;
  filter: invert(47%) sepia(1%) saturate(0%) hue-rotate(281deg) brightness(94%) contrast(84%);
}
.footer-lower__riot-games-logo:hover {
  filter: invert(100%) sepia(72%) saturate(2%) hue-rotate(56deg) brightness(111%) contrast(101%);
}
.footer-lower__copyright-text {
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-grey);
  line-height: 1.3rem;
  width: 38rem;
}
@media screen and (max-width: 640px) {
  .footer-lower__copyright-text {
    width: 100%;
  }
}
.footer-lower__other-links-container {
  background: none;
  gap: 0rem;
  padding: 0;
}
@media screen and (max-width: 640px) {
  .footer-lower__other-links-container {
    font-size: 0.6rem;
  }
}
.footer-lower__esrb-rating {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  background: var(--secondary-black);
  padding: 0.8rem;
  border-radius: 8px;
  height: 100%;
}
.footer-lower__esrb-rating-image {
  height: 6.1rem;
}
.footer-lower__esrb-contains-list {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--secondary-white);
  letter-spacing: 1px;
  list-style: none;
}
.footer-lower__esrb-contains-item {
  flex: 1;
}

/*# sourceMappingURL=main.css.map */
