:root {
  --red: #ff4655;
  --white: #ece8e1;
  --secondary-white: #ede9e1;
  --tertiary-white: #dbd9d2;
  --black: #0f1923;
  --secondary-black: #292929;
  --grey: #383e3a;
  --secondary-grey: #768079;
  --tertiary-grey: #bdbcb7;
  --article-grey-bg-color: #8a968f;
  --nav-footer-bg-color: #101110;
  --play-now-button-bg: linear-gradient(90deg, rgba(255,55,55,1) 0%, rgba(255,120,96,1) 100%);
  --burger-bg: #1E1F1E;
  --dropdown-link-color: #c7c7c7;
  --article-grey-border-color: #938f8a;
  --dropdown-link-hover-bg: #444545;
  --burger-dropdown-link-hover-bg: #333232;
  --footer-download-links-hover-bg: #444444;
  --dropdown-link-hover-color: #f9f9f9;
  --card-hover-black-color: 8px 8px 4px var(--black);
  --card-hover-red-color: 8px 8px 4px var(--red);
  --default-width: 80.9%;
}

body {
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1229px) 1fr;
  padding-top: 6rem;
}
@media screen and (max-width: 640px) {
  main {
    padding-top: 4rem;
  }
}

.category-section {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: minmax(300px, auto) auto;
  grid-template-rows: repeat(3, auto);
  padding-bottom: 4rem;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .category-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.category-section__title {
  font-family: "Teko";
  font-size: 10rem;
  transform: scale(0.7, 1);
  margin-left: -18%;
}
@media screen and (max-width: 640px) {
  .category-section__title {
    font-size: 6rem;
    margin-left: 0;
  }
}
.category-section__type {
  grid-row-start: 2;
  font-family: "Teko";
  font-size: 3rem;
  transform: scale(0.7, 1);
  margin-left: -17.7%;
}
@media screen and (max-width: 640px) {
  .category-section__type {
    margin-left: 0;
  }
}

.article-cards-container {
  grid-column: 1/span 2;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: start;
  grid-gap: 2.5rem;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .article-cards-container {
    grid-template-columns: max-content;
    justify-content: center;
  }
}
@media screen and (max-width: 376px) {
  .article-cards-container {
    grid-template-columns: 80%;
  }
}

.list-view, .grid-view {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: flex-end;
  align-self: center;
}

.list-view__button, .grid-view__button {
  background: var(--black);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 4px;
  padding: 6px;
}

.grid-view__button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}
.grid-view__item {
  background: var(--secondary-white);
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.list-view {
  display: none;
}
.list-view__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list-view__item {
  background: var(--secondary-white);
  width: 100%;
  height: 0.2rem;
  border-radius: 2px;
}

#change-view:checked ~ .grid-view {
  display: none;
}

#change-view:checked ~ .list-view, .grid-view {
  display: block;
}
@media screen and (max-width: 640px) {
  #change-view:checked ~ .list-view, .grid-view {
    display: none;
  }
}

#change-view:checked ~ .article-cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
@media screen and (max-width: 640px) {
  #change-view:checked ~ .article-cards-container {
    align-items: center;
  }
}

#change-view:checked ~ .article-cards-container .article-card {
  width: 400px;
}

/*# sourceMappingURL=category.css.map */
