@use '../../../base/variables' as *;
@use '../../../base/mixin';

@mixin icon($transform: rotate(270deg)) {
  transform: $transform;
  width: 1.3rem;
  filter: invert(36%) sepia(65%) saturate(2139%) hue-rotate(331deg) brightness(104%) contrast(99%);

  &:hover {
    filter: invert(0%) sepia(1%) saturate(5%) hue-rotate(304deg) brightness(97%) contrast(103%);
  }
}

.share-links {
  grid-area: aside;
  @include mixin.absolute-container(10rem, -3rem, $width: 100px, $z-index: 50);
  display: flex;
  align-self: flex-end;
  gap: 2rem;
  margin-top: 1rem;
  transform: rotate(90deg);

  @media #{$lg} {
    display: none;
  }

  &__title {
    @include mixin.text('Teko', 1rem, 600, $text-transform: uppercase);
  }

  &__icon {
    @include icon();
  }
}

.secondary-share-links {
  display: none;

  @media #{$lg} {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
  }

  &__title {
    @include mixin.text('Teko', 1.1rem, 600, $text-transform: uppercase);
  }

  &__image {
    @media #{$lg} {
      @include icon(none);
    }
  }
}
