@use '../../../base/variables' as *;
@use '../../../base/mixin';

aside img {
  transform: rotate(270deg);
  width: 1.3rem;
  filter: invert(36%) sepia(65%) saturate(2139%) hue-rotate(331deg) brightness(104%) contrast(99%);
}

aside img:hover {
  filter: invert(0%) sepia(1%) saturate(5%) hue-rotate(304deg) brightness(97%) contrast(103%);
}

.default-share-links {
  grid-area: aside;
  @include mixin.absolute-container(10rem, -3rem, $width: 100px, $z-index: 50);
  @include mixin.text('Teko', 0.75rem, 900);
  display: flex;
  align-self: flex-end;
  gap: 2rem;
  margin-top: 1rem;
  transform: rotate(90deg);

  @media #{$lg} {
    display: none;
  }
}

.lg-share-links {
  display: none;

  @media #{$lg} {
    display: flex;
    gap: 2rem;
    font-family: 'Teko';
    font-size: 0.75rem;
    font-weight: 900;
    margin-top: 4rem;
  }
}

.lg-share-links img {
  @media #{$lg} {
    transform: none;
    width: 1.3rem;
    filter: invert(36%) sepia(65%) saturate(2139%) hue-rotate(331deg) brightness(104%) contrast(99%);
  }
}
