@use  '../../../base/mixin';
@use '../../../base/variables' as *;

.dimension-section {
  position: relative;
  @include mixin.grid-column($justify-content: center);
}

.dimension-section::after {
  content: "";
  @include mixin.absolute-container($width: 100%, $height: 100%, $z-index: 100);
  border-left: 1px solid rgba(236,232,225,.5);
}

.dimension-section img {
  position: relative;
  display: flex;
  justify-content: center;
  object-fit: none;
  object-position: 50% 0;
  height: 53.15rem;
}

.dimension-content-container {
  @include mixin.absolute-container(25rem, $width: 100%);
  @include mixin.grid-column($justify-items: flex-start);
  gap: 2.6rem;
  margin-left: 4rem;
  color: $white-text;

  @media #{$lg} {
    top: 34rem;
    gap: 0;
    width: 100%;
    margin-left: 0.3rem;
  }
}

.dimension-section div h5 {
  font-size: 1.2rem;
  letter-spacing: 8px;

  @media #{$lg} {
    margin-bottom: 2rem;
    margin-left: -0.2rem;
  }
}

.dimension-section div p {
  @include mixin.scaled-text('Teko', 6.8rem, $scale: (1.1, 1.4), $margin-left: 1rem);
  letter-spacing: -2px;

  @media #{$lg} {
    font-size: 5rem;
    margin-left: 0.5rem;
    margin-bottom: 3rem;
  }

  @media #{$md} {
    font-size: 3rem;
    margin-left: 0.3rem;
  }
}

#dimension-button {
  margin-top: -1.2rem;
  margin-left: -0.1rem;

  @media #{$lg} {
    margin-left: -0.1rem;
  }
}

#dimension-button button {
  @media #{$lg} {
    font-size: 1.1rem;
  }
}

.dimension-red-boxes {
  @include mixin.absolute-container($bottom: 0);
  display: flex;
  justify-content: space-between;
  width: 1230px;
}

.dimension-red-boxes::after {
  content: "";
  @include mixin.absolute-container($left: 46.15rem, $width: 6.25rem, $height: 0.2rem);
  background: $red-bg;
}

.left-red-box {
  width: 0.65rem;
  height: 0.65rem;
  background: $red-bg;
  margin-bottom: 1.25rem;
}

.right-red-box {
  align-self: flex-end;
  width: 0.85rem;
  height: 0.9rem;
  background: $red-bg;
}
