@use  '../../../base/mixin';
@use  '../mixin' as home-mixin;
@use '../../../base/variables' as *;

.latest-news-section {
  position: relative;
  @include mixin.grid-column();
  margin-top: 1.5rem;
  padding-bottom: 10.65rem;

  @media #{$lg} {
    padding-bottom: 3.5rem;
  }

  @media #{$sm} {
    padding-bottom: 4rem;
  }

  &__background {
    white-space: nowrap;
    line-height: 15rem;
    width: 100%;
  }

  &__background-text {
    @include home-mixin.shared-bg-outline-text;

    &--second-text {
      transform: translateX(28rem);
      margin-top: 2rem;
    }
  }

  &__content {
    @include mixin.absolute-container($width: 100%, $z-index: 10);

    @media #{$lg} {
      position: relative;
      margin-top: -33.5rem;
    }
  }

  &__red-detail-boxes {
    @include mixin.absolute-container(2.2rem, $left: 50%);

    &::before {
      content: "";
      @include mixin.absolute-container(0, $left: 0, $width: 8px, $height: 8px);
      background: var(--red);
    }

    &::after {
      content: "";
      @include mixin.absolute-container(0, $left: 3rem, $width: 8px, $height: 8px);
      background: var(--red);
    }
  }

  &__title-container {
    @include mixin.absolute-container($width: 100%);
    display: flex;
    justify-content: space-between;
    margin-top: 9.5rem;
  
    @media #{$lg} {
      margin-top: 7.5rem;
    }
  
    @media #{$md} {
      margin-left: -0.2rem;
    }
  
    @media #{$sm} {
      margin-top: 6rem;
    }
  }

  &__title {
    @include mixin.scaled-text('Teko', 6rem, 900, var(--red), (0.9, 1.4), -2.5rem);

    @media #{$lg} {
      font-size: 5rem;
      margin-left: -2.1rem;
    }
  
    @media #{$md} {
      font-size: 2.5rem;
      margin-left: -0.9rem;
    }
  }

  &__link {
    @media #{$lg} {
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }
  
    @media #{$md} {
      margin-bottom: 5rem;
    }
  
    @media #{$sm} {
      margin-bottom: 0;
      margin-left: 0;
    }

    &--news-page {
      display: flex;
      align-items: center;
      gap: 1rem;
      @include mixin.scaled-text($size: 0.8rem, $weight: 600, $color: var(--red), $scale: (0.95, 0.95), $margin-left: auto);
      margin-right: -6px;
      margin-bottom: 5rem;
      text-decoration: none;
      transition: 0.2s ease-in-out;
    
      @media #{$lg} {
        display: none;
      }

      &:hover {
        transform: scale(1.02);
      }
    }

    &--secondary-news-page-link {
      display: none;

      @media #{$lg} {
        display: flex;
        font-size: 0.9rem;
        margin-top: 1.5rem;
        margin-left: -2.5%;
        margin-bottom: 0;
      }
    
      @media #{$sm} {
        margin-top: 0;
      }
    }
  }

  &__image {
    &--news-page-arrow {
      @include mixin.arrow-sway();
      @include mixin.arrow-sway-keyframes();
    }
  }

  &__cards-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    margin-top: 15.19rem;
  
    @media #{$lg} {
      width: max-content;
      margin-top: 12.3rem;
    }
  
    @media #{$md} {
      margin-top: 10rem;
    }
  
    @media #{$sm} {
      margin-top: 8.5rem;
    }
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 24.4rem;
    @include mixin.card-transition();
  
    @media #{$lg} {
      width: 55rem;
    }
  
    @media #{$md} {
      width: 34rem;
    }
  
    @media #{$sm} {
      width: 19rem;
    }

    &:hover {
      transform: scale(1.02);

      .latest-news-section__card-image {
        filter: drop-shadow(var(--card-hover-black-color));
      }
    }

    &:active {
      .latest-news-section__card-image {
        transition: none !important;
        filter: drop-shadow(var(--card-hover-red-color));
      }
    }
  }

  &__card-image {
    width: 100%;
    @include mixin.card-transition();
  }

  &__card-upper {
    display: flex;
    gap: 0.5rem;
    @include mixin.text('Roboto', 0.7rem, 600);
    width: 100%;
  
    @media #{$lg} {
      font-size: 0.8rem;
    }
  }

  &__card-upper-text {
    color: var(--black);
    letter-spacing: 1px;

    &--second {
      position: relative;
      display: flex;
      align-items: end;
      color: var(--red);

      &::before {
        content: "";
        margin-right: 0.5rem;
        margin-bottom: 4px;
        width: 1px;
        height: 1px;
        background: black;
      
        @media #{$lg} {
          width: 3px;
          height: 3px;
        }
      }
    }
  }

  &__card-title {
    @include mixin.text($size: 1.2rem, $weight: 600, $color: var(--grey));
    width: 100%;
  }
}
