@use  '../../../base/mixin';
@use  '../mixin' as home-mixin;
@use '../../../base/variables' as *;
@use '../components/section-button';

.your-maps-section {
  position: relative;
  display: grid;
  grid-template-columns: 100%;

  &__background-outline-text {
    align-self: flex-start;
    @include mixin.absolute-container(2.5rem, $left: -2.9rem);
    @include home-mixin.shared-bg-outline-text;
    font-size: 22rem;
    letter-spacing: 0.5rem;
  }

  &__background-wrapper {
    position: relative;
    width: 100vw;
    padding-bottom: 50rem;
  }

  &__split-background {
    @include mixin.absolute-container(-5rem, -8.3rem, $z-index: 50);

    @media #{$xl} {
      right: -15rem;
    }
  
    @media #{$lg} {
      right: -39rem;
    }
  
    @media #{$md} {
      right: -56rem;
    }
  
    @media #{$sm} {
      right: -60rem;
    }
  }

  &__birds-background {
    @include mixin.absolute-container(10rem, $left: 26rem, $z-index: 40);
  }

  &__left-background-sprite {
    object-fit: cover;
    overflow: hidden;
  
    @media #{$lg} {
      display: none;
    }

    &--first {
      @include mixin.absolute-container(4.9rem, $left: -4.2rem, $width: 1.85rem, $height: 15rem);
    }

    &--second {
      @include mixin.absolute-container(36.1rem, $left: -4.2rem, $width: 3.5rem, $height: 6.3rem);
    }
  }

  &__left-background-sprite-image {
    margin-left: -2.2rem;

    &--first {
      margin-top: -6.4rem;
    }
  }

  &__content-container {
    place-content: flex-start;
    @include mixin.absolute-container(8.75rem, $left: 6.59rem, $width: var(--default-width), $z-index: 60);
    @include mixin.flex-column($align-items: flex-start);
    border-top: 1px solid rgba(15,25,35,.4);
    padding-top: 4.5rem;
  
    @media #{$lg} {
      top: 7rem;
      left: 0;
      width: 124%;
    }
  
    @media #{$md} {
      align-items: center;
    }
  }

  &__title {
    @include mixin.scaled-text('Teko', 8rem, $color: var(--black), $scale: (0.9, 1.2), $margin-left: -1.8rem);

    @media #{$xl} {
      font-size: 6rem;
      margin-left: -1rem;
    }
  
    @media #{$lg} {
      font-size: 4rem;
      margin-bottom: 0;
    }
  
    @media #{$md} {
      font-size: 3rem;
    }
  }

  &__subtext {
    @include home-mixin.your-content-container-h5(var(--black), 4rem);

    @media #{$lg} {
      margin-top: 0.9rem;
    }
  }

  &__description {
    @include home-mixin.your-content-container-p(var(--secondary-grey));
  }

  &__button-wrapper {
    @include section-button.button-wrapper();
    margin-top: 3.7rem;

    @media #{$lg} {
      align-self: center;
    }
  }

  &__button-span {
    @include section-button.button-span();
    border: 1px solid var(--tertiary-grey);
  }

  &__button {
    @include section-button.button();

    @media #{$lg} {
      font-size: 1.1rem;
    }
  }
  
}
