.copyright-text {
  width: 100%;
}

.download-links {
  font-size: 0.5rem;
}

.other-dl-links {
  font-size: 0.6rem;
}

@media screen and (max-width: 376px) {

  .download-links {
    flex-direction: column;
    font-size: 0.7rem;
    padding-inline: 0;
  }
  
}
