.agent-updates h2 {
  font-size: 1.1rem;
}

.agent-updates-container {
  position: relative;
  padding-block: 2.5rem;
}

.agent-updates-container::before {
  position: absolute;
  content: "///";
  font-weight: 700;
  font-size: 1.5rem;
  top: 29rem;
  left: -10rem;
  color: #768079;
}

.description i {
  font-family: 'Roboto';
  font-weight: 500;
}

.agent-banner {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5.5rem;
}

.agent-skills-update {
  padding-block: 1rem;
}

.skill {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  border: 1px solid #bdbcb7;
}

.middle-skill {
  border-top: none;
  border-bottom: none;
}

.bugs-container ul {
  margin-bottom: 2rem;
}

.bug-fix {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
