.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7rem;
  width: 705px;
}

.content-container div img {
  width: 100%;
}

.content-container div img:first-child {
  padding-block: 2.5rem;
}

.content-container div img:first-child:hover {
  cursor: pointer;
  background: #FF4655;
}

.content-container h2 {
  font-size: 1.4rem;
}

.container-sections {
  padding-bottom: 2.5rem;
}

.container-sections h2 {
  margin-bottom: 2rem;
}

.container-sections h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.map-updates-container {
  position: relative;
  padding-block: 2.5rem;
}

.map-updates-container::before {
  position: absolute;
  content: "///";
  font-weight: 700;
  font-size: 1.5rem;
  top: 29rem;
  left: -10rem;
  color: #768079;
}

.description {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 500;
  color: #768079;
  line-height: 1.6rem;
}

.description i {
  font-family: 'Roboto';
  font-weight: 500;
}

.description::before {
  content: "\B7   /";
  font-weight: 700;
  color: #0f1923;
  margin-right: 0.5rem;
}

.indent {
  margin-left: 1rem;
}

.pearl-banner {
  padding-top: 2rem;
  padding-bottom: 5.5rem;
}

.split-banner {
  padding-top: 3rem;
  padding-bottom: 5.5rem;
}

.map-pool-changes-link {
  font-size: 1rem;
  font-family: 'Arial';
  color: #FE4755;
  align-self: flex-start;
  text-decoration: underline;
  margin-bottom: 2.5rem;
}

.map-pool-changes-link:hover {
  background: #FE4755;
  color: #ECE8E1;
}

.shoutout-link {
  font-size: 1rem;
  font-family: 'Arial';
  color: #FE4755;
  align-self: flex-start;
  text-decoration: underline;
  margin-bottom: 2.5rem;
}

.shoutout-link:hover {
  background: #FE4755;
  color: #ECE8E1;
}

.bugs-container ul {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1023px) {

  .content-container {
    width: 100%;
    margin-top: 2.5rem;
    margin-left: 0;
  }

}
