@use '../../../base/variables' as *;
@use '../../../base/mixin';
@use '../article-mixin';

%paragraph-styling {
  align-self: flex-start;
  line-height: 1.5rem;
  margin-bottom: 2rem;

  @media #{$lg} {
    margin-bottom: 1rem;
  }
}

.ep5act1-content-section {
  grid-area: contentSection;

  @include mixin.grid-column($justify-items: flex-start);
  width: 705px;
  margin-left: 7rem;

  @media #{$lg} {
    margin-top: 2rem;
    margin-left: 0;
    width: 100%;
  }

  &__subtitle {
    @extend %paragraph-styling;
    @include mixin.text($size: 0.9rem, $weight: 600, $color: var(--black));
  
    @media #{$lg} {
      font-size: 1rem;
    }
  }

  iframe {
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
  }

  &__description {
    @extend %paragraph-styling;
    @include mixin.text($size: 0.95rem, $color: var(--secondary-grey));

    &--additional {
      margin-top: -1.5rem;
    }
  }

  &__link {
    @include article-mixin.paragraph-link(0.9rem, 600);

    &:hover {
      background: var(--red);
      color: var(--white);
    }

    &--optional {
      font-weight: 400;
    }
  }

  &__image {
    width: 100%;
    height: 6rem;
    margin-block: 1.2rem;
  
    @media #{$sm} {
      height: 42px;
    }
  }

}
