@use '../../../base/variables' as *;
@use '../article-mixin';

.pn5-0-content-section {
  @include article-mixin.content-container();

  &__image {
    width: 100%;

    &--highlights {
      padding-block: 2.5rem;

      &:hover {
        cursor: pointer;
        background: var(--red);
      }
    }

    &--pearl {
      padding-top: 2rem;
      padding-bottom: 5.5rem;
    }

    &--split {
      padding-top: 3rem;
      padding-bottom: 5.5rem;
    }
  }

  &__description {
    @include article-mixin.description();
  }

  &__section-title-h2 {
    @include article-mixin.container-sections-h2();
    margin-bottom: 2rem !important;
  }

  &__section-title-h3 {
    @include article-mixin.container-sections-h3();
    font-size: 1rem !important;
  }

  &__container-section {
    @include article-mixin.container-sections();
    
    &--map-updates {
      @include article-mixin.relative-container();

      &::before {
        @include article-mixin.three-lines(29rem);
      }
    }
  }

  &__bugs-ul {
    margin-bottom: 2rem;
  }

  &__link {
    @include article-mixin.paragraph-link(1rem);

    &:hover {
      background: var(--red);
      color: var(--white);
    }
  }

}
