@use '../../../base/variables' as *;
@use '../article-mixin';

.pn5-01-content-section {
  @include article-mixin.content-container();

  &__description {
    @include article-mixin.description();
  }

  &__section-title-h2 {
    @include article-mixin.container-sections-h2();

    &--agent-name {
      font-size: 1.1rem !important;
    }
  }

  &__section-title-h3 {
    @include article-mixin.container-sections-h3();
  }

  &__container-section {
    @include article-mixin.container-sections();

    &--updates {
      @include article-mixin.relative-container();

      &::before {
        @include article-mixin.three-lines(29rem);
      }
    }
  }

  &__agent-banner {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 5.5rem;
  }

  &__skills-update {
    padding-block: 1rem;
  }

  &__skill {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    border: 1px solid var(--tertiary-grey);

    &--middle {
      border-top: none;
      border-bottom: none;
    }
  }

  &__bug-fix {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }

}


