@use '../../../base/variables' as *;
@use '../../../base/mixin';
@use '../article-mixin';

.vai-fade-content-section {
  @include article-mixin.content-container();

  &__description {
    @include article-mixin.description();
  }

  &__section-title-h2 {
    @include article-mixin.container-sections-h2();

    &--about-fade-h2 {
      align-self: flex-start;
    }

    &--fade-design {
      width: 20rem;
    }
  }

  &__section-title-h3 {
    @include article-mixin.container-sections-h3();
  }

  &__container-section {
    @include article-mixin.container-sections();

    &--about-fade {
      @include mixin.flex-column($align-items: flex-start);
    }
  }

  &__strong {
    @include mixin.text($weight: 600, $color: var(--black));
  }

  &__image {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.9rem;

    &:hover {
      cursor: pointer;
      background: var(--red);
    }
  }

  &__image-subtext {
    text-align: center;
    @include mixin.text($size: 0.6rem, $weight: 600);
    width: 26rem;
    margin-bottom: 0.5rem;
  
    @media #{$lg} {
      font-size: 0.7rem;
      width: 100%;
    }
  }

  &__fade-gif-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__paragraph-link {
    @include article-mixin.paragraph-link($link-size: 1rem, $link-weight: 600);
    font-weight: 400 !important;

    &:hover {
      background: var(--red);
      color: var(--white);
    }
  }

  &__line-through {
    font-weight: 600;
  }

}
